@import '../styles/_reset.scss';
@import '../styles/_helpers.scss';
@import '../styles/_vars.scss';

.task-list {
	// border-radius: var(--block-radius);
	// background-color: white;
	background-color: var(--block-bg-color);
	margin-block-start: 2rem;
	inline-size: fit-content;

	box-shadow: var(--block-shadow);
}
