@import '../styles/_reset.scss';
@import '../styles/_helpers.scss';
@import '../styles/_vars.scss';

.task-list {
	background-color: var(--block-bg-color);
	margin-block-start: 2rem;
	inline-size: fit-content;

	box-shadow: var(--block-shadow);
	overflow-x: hidden;
	overflow-y: auto;

	// mobile
	@media (width < $threshold-width) {
		max-block-size: 288px;
	}

	// desktop
	@media (width >= $threshold-width) {
		max-block-size: 384px;
	}
}
